			<%= form_for [@baby, Milestone.new] do |f| %>
				<input type="hidden" value="2011-10-10" />
				<div id="calendar-input" class="calendar-holder">
				</div>
				<script>
					WdatePicker({eCont:'calendar-input',onpicked:function(dp){alert('你选择的日期是:'+dp.cal.getDateStr())}});
				</script>
				<div class="inputs-holder">
					<div class="field">
						<div class="field-header">
							<label for="milestone[content]">里程碑内容</label>
							<div class="share-holder">
								<input type="checkbox" name="share" id="share-milestone" /> <label for="share-milestone">分享到绑定平台</label>
							</div>
						</div>
						<div class="input">
							<%= f.text_area :milestone_content, :class => "shadow-input-text" %>
						</div>
						<span class="help-block">
				            <strong>提示:</strong> 这里是提示信息
				        </span>
					</div>
					<div class="actions">
						<%= f.submit :class => "btn primary large pull-right" %>
					</div>
				</div>
			<% end %>
