<div id="right-column">
	<ul class="about-list">
		<li class="current about-item">
			<%= link_to t("pages.about"), about_path %>
			<hr class="separator">
		</li>
		<li class="about-item">
			<%= link_to t("pages.contact"), contact_path %>
			<hr class="separator">
		</li>
		<li class="about-item">
			<%= link_to t("pages.service"), service_path %>
			<hr class="separator">
		</li>
		<li class="about-item">
			<%= link_to t("pages.privacy"), privacy_path %>
			<hr class="separator">
		</li>
		<li class="about-item">
			<a href="#">意见反馈</a>
		</li>
	</ul>
</div>