<% @body_classes = ["single-page"] %>

	<div id="container">
		<div id="left-column">
			<h2 id="main-title"><%= @title %></h2>
			<div class="one-position">
				<p>一年，365天，12个月，52个星期，8760个小时，525600分钟，31536000秒</p>
				<p>伦敦、纽约、米兰、巴黎，每年，T台时装盛宴在这里精彩上演</p>
				
				<p>威尼斯、东京、柏林、戛纳、蒙特利尔、开罗，每年，最好的电影在这里完美呈现</p>
				
				<p>墨尔本、罗兰·加洛斯、温布尔登、纽约，每年，网球运动员在这里挥洒激情和汗水
				
				洛杉矶、奥兰多、东京、巴黎、香港，每年，数以万计的游客在这里开始色彩、刺激与魔幻之旅
				
				那么，每一年，会有多少精彩瞬间，有点点陪你走过？
				
				从今天起，我们和你一起打造属于你的点点印象，定期策划不同兴趣领域的主题活动：
				
				城市邂逅王家卫
				
				几米和村上春树转角遇到爱
				
				刺身与二次元不得不说的二三事
				
				五月天和Green Day的盛夏光年
				
				......
				
				你的每篇投稿，都是点点的独家记忆，we are the world
				</p>
				
			</div>
			
		</div>
		<%= render :partial => "pages/right_column" %>
	</div>
