<% @title = @baby.nick_name %>
<% @body_id = "baby_home" %>

<div id="container">
	<div id="left-content">
		<%= render "quick_panel"%>
	</div>
	<%= render :partial => "babies/right_column" %>
</div>

